<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350248542316-6ep8lamlo1c0kvlk0bjl7ob5eav4qa17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350248542316-6ep8lamlo1c0kvlk0bjl7ob5eav4qa17</string>
	<key>API_KEY</key>
	<string>AIzaSyAavDYOy7H9FvA4H5-Xiri_Xlk8i2oCV4I</string>
	<key>GCM_SENDER_ID</key>
	<string>350248542316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Na.Final1</string>
	<key>PROJECT_ID</key>
	<string>routecaster---te-1555730519766</string>
	<key>STORAGE_BUCKET</key>
	<string>routecaster---te-1555730519766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350248542316:ios:e7fd94586a172df0</string>
	<key>DATABASE_URL</key>
	<string>https://routecaster-te-1555730519766.firebaseio.com</string>
</dict>
</plist>